body{
  margin:0;
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* resize images */
.container img {
   display: block;
   width: 200px;
   margin: 0 auto;

}

@mediaquery{

}
/* a{
  display: block;
  width: 500px;
  margin: 0 auto;
} */
* {
  box-sizing:border-box;
}

.bouncing-ball {
  width: 200px;
  height: 200px;
  border: 2px solid orange;
  border-radius: 50%;
  position: absolute;
  animation: bounce 5s 10s infinite ease-in-out,
            mutant-power 2s infinite linear;
}

@keyframes mutant-power {
  from {
    transform: scale(2) skewY(90deg);
  }

  to {
     transform: scale(4) skewY(180deg);
  }
}

@keyframes bounce {
  0% {
    top: 0;
  }
  33% {
    right: 50%;
  }
  50% {
    top: 100%;
  }

  66%{
    right: 0;
    background-color: orange;
  }


  100% {
    top: 0;
  }
}
